<div>
    <input
      type="{{type}}"
      value="{{value}}"
      id="{{name}}"
      value="{{value}}"
      name="{{name}}"
      class="{{classNameInput}}"
      placeholder=""
        {{#if disabled}}
            disabled={{disabled}}
        {{/if}}
    />

    <label for="{{name}}" class="{{classNamePlaceholder}}">{{placeholder}}</label>
</div>

<span class="{{classNameError}}">{{error}}</span>