<div class="{{className}}">
    <img src="{{src}}" class="{{classNameImg}}" alt="{{alt}}" />

    <input id="input_file" class="{{classNameInput}}" type="file" />
    <label for="input_file" class="{{classNameLabel}}">
        <span>Change avatar</span>
    </label>
</div>