<div class="{{className}}">
    {{{avatar}}}
    <div class="{{classNameWrapper}}">
        <div class="{{classNameHeader}}">
            <h4 class="{{classNameTitle}}">{{title}}</h4>
            <span class="{{classNameDate}}">{{date}}</span>
        </div>
        <div class="{{classNameFooter}}">
            <p class="{{classNameMessage}}">{{message}}</p>
            <span class="{{classNameCount}}">{{count}}</span>
        </div>
    </div>
</div>