<section class="{{className}}">
    <div>
        {{#if title}}
            <h1 class="{{classNameTitle}}">{{title}}</h1>
        {{/if}}
    </div>

    <form class="{{classNameForm}}">
        {{{children}}}
    </form>
</section>