<div class="{{classNameUserInfo}}">
    <div class="{{classNameAvatar}}">
        {{{avatar}}}
        <span class="{{classNameName}}">{{name}}</span>
    </div>
    <button class="{{classNameButton}}">
        <img src="{{img}}" alt="create_chat">
    </button>
</div>
<form>
    {{{search}}}
</form>