<div class="{{classNameWrap}}">
    <p class="{{classNameMessage}}">{{content}}</p>
    <div class="{{classNameInfo}}">
        <img src="{{check}}" alt="check">
        <span class="{{classNameDate}}">{{date}}</span>
    </div>
</div>