<li class="{{className}}">
    <div class="{{classNameWrap}}">
        <p class="{{classNameMessage}}">{{message}}</p>
        <div class="{{classNameInfo}}">
            <img src="{{check}}" alt="check">
            <span class="{{classNameDate}}">{{date}}</span>
        </div>
    </div>
</li>